body {
  background-color: rgb(58, 57, 57);
  color: azure;

}

header,
main,
footer {
  text-align: center;
  margin-block: 2rem;
}

main {
  min-height: 70vh;
  width: 70vw;
  margin-inline: auto;
}

ul {
  width: 70%;
  text-align: center;
  margin-inline: auto;
}

header {
  border: solid azure 2px;
}


h2 {
  font-size: 2.2rem;
}

.car-div {
  border: 2px solid azure;
  margin-block: 1rem;
  border-radius: 10px;
}